<div class="w-100" [formGroup]="form">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Dátum</span>
        </div>
        <input class="form-control" type="date" formControlName="date">
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Óra</span>
        </div>
        <select formControlName="hour" class="custom-select">
            <option value="0">00</option>
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
        </select>
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Perc</span>
        </div>
        <select formControlName="min" class="custom-select">
            <option value="0">00</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
        </select>
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Cím</span>
        </div>
        <input formControlName="title" type="text" class="form-control">
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Leírás</span>
        </div>
        <textarea formControlName="description" class="form-control" aria-label="With textarea"></textarea>
    </div>
    <br>
    <div class="input-group" *ngIf="havePermission('ROLE_ACTIVITY_PLAN_ADMIN')">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Felhasználó</span>
        </div>
        <select formControlName="user" class="custom-select">
            <option *ngFor="let user of users" value="{{user.id}}">{{ user.lastName }} {{ user.firstName }}</option>
        </select>
    </div>
    <br>
    <button *ngIf="plan == null && !edit" type="button" class="btn btn-primary w-100 m-1" (click)="save()">Mentés</button>
    <button *ngIf="edit" type="button" class="btn btn-primary w-100 m-1" (click)="save()">Mentés</button>
    <button *ngIf="plan != null && plan.user.id == plan.owner.id && !edit" type="button" class="btn btn-primary w-100 m-1" (click)="enableEdit()">Modosítás</button>
    <button *ngIf="plan != null && plan.user.id == plan.owner.id && !edit" type="button" class="btn btn-danger w-100 m-1" (click)="delete()">Törlés</button>
    <div *ngIf="plan != null && plan.user.id != plan.owner.id">
        Bejegyzést rögzítette: {{ plan.owner.lastName }} {{ plan.owner.firstName }}
    </div>
</div>