/* #work-time-container{
    width: 100%;
} */
/* .left-container{
    background-color: aqua;
    height: 100%;
    width: 50%;
}

.right-container{
    background-color: yellow;
    width: 50%;
    border-left: solid 1px;
} */