<div class="w-100">
    <div class="h-100 w-50 float-left p-md-2" [formGroup]="permissionForm">
        <h4 class="text-center">Új jogosulstági csoport</h4>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Név</span>
            </div>
            <input formControlName="name" type="text" class="form-control">
        </div>
        <br>
        <button *ngIf="edit" type="button" class="btn btn-primary mr-1" (click)="uplodaEdit()">Módosítás</button>
        <button *ngIf="!edit" type="button" class="btn btn-primary mr-1" (click)="addNewPermission()">Mentés</button>
        <button type="button" class="btn btn-danger mr-1" (click)="clearForm()">Törlés</button>
    </div>
    <div class="h-100 w-50 float-right p-md-2">
        <table class="table border">
            <thead>
                <tr>
                    <th scope="col">Név</th>
                    <th scope="col">Jogosulságok száma</th>
                    <th scope="col">Felhasználók száma</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let permission of permissions" (click)="showPermission(permission)">
                    <td>{{ permission.name }}</td>
                    <td>{{ permission.details?.length }}</td>
                    <td>{{ permission.userCount }}</td>
                    <td>
                        <button type="button" class="btn btn-primary mr-1" (click)="editLoad($event, permission)">🔧</button>
                        <button type="button" class="btn btn-danger mr-1" data-toggle="modal" data-target="#deletePermission" (click)="selectForDelete(permission)">🗑️</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="deletePermission" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Jogosultsági csoport törlése</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Biztosan törölni szeretné a következő jogosultsági csoportot: 
                <br><br>
                <b>Jogosultsági csoport neve:</b> {{ deletePermission.name }} <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete()">Törlés</button>
            </div>
        </div>
    </div>
</div>