<div class="mr-5">
  <br>
  <h2 class="text-center" id="date"></h2>

  <br>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">Feladat</span>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option selected>Válassz</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <div class="input-group-prepend">
      <span class="input-group-text" id="">Idő</span>
    </div>
    <input type="text" class="form-control">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">Óra</span>
    </div>
    <input type="text" class="form-control">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">Perc</span>
    </div>
  </div>
  <br><br>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Megjegyzés</span>
    </div>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </div>

  <br><br>
  <button type="button" class="btn btn-primary mr-3">Mentés</button>
  <button type="button" class="btn btn-primary">Törlés</button>

  <br><br>

  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-striped mb-0">
      <thead>
        <tr>
          <th scope="col">Feladat</th>
          <th scope="col">Idő</th>
          <th scope="col">Megjegyzés</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activity of activities">
          <th class="w-25">{{ activity.activityGroup.name }}</th>
          <td>{{ activity.min }}</td>
          <td class="w-50">{{ activity.description }}</td>
          <td class="text-right w-25">
            <button type="button" class="btn btn-primary mr-1">Módosítás</button>
            <button type="button" class="btn btn-danger mr-1">Törlés</button>
          </td>
          <!-- <td><button type="button" class="btn btn-primary mr-1">Törlés</button></td> -->
        </tr>
      </tbody>
    </table>
  </div>


</div>